@import "_variables.scss";

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: $bg_color;
}

.containerr {
  width: 100%;
  height: 2000px;
  border: 3px solid black;
  display: flex;
}

.left-content {
  flex: 21%;
  background-color: #2a3042;
}

.right-content {
  flex: 79%;
  background-color: $bg_color;

  header {
    width: 100%;
    height: 110px;
    background-color: #ffffff;
    display: flex;

    .header-left {
      flex: 50%;

      display: inline-flex;
      padding-top: 20px;
      padding-left: 20px;

      .inp {
        width: 290px;
        height: 50px;
        background-color: $bg_color;
        border: 0px solid black;
        border-radius: 110px;
        font-size: $font;
        color: $text_color;
        padding-left:20px;
      }
      .inp::placeholder {
        color: $text_color;
        padding-left: 30px;
        font-size: $font;
        background-image: url("https://www.pinclipart.com/picdir/middle/93-937805_bobcat-footprint-clipart-search-icon-svg-white-png.png");
        background-repeat: no-repeat;
        background-size: 30px 30px;
      }
      .inp:focus {
        outline: none;
      }

      .btn {
        color: $text_color;
        font-size: $font;
      }
    }

    .header-right {
      flex: 50%;
      display: flex;
      padding-top: 20px;
      padding-left: 20px;
      justify-content: flex-end;

      img {
        width: 20px;
        height: 20px;
        margin-left: 25px;
        margin-top:14px;

        &.flag {
          width:30px;
        }
        &.f-screen {
          width:20px;
          height:20px;
        }
        &.profile {
          width:40px;
          height:40px;
          margin-top:4px;
        }
      }
      
      .btn {
        font-size: $font;
        color: $text_color;
      }

      //Animations
      img.set-rotation {
        margin-right: 21px;
        animation-name: settings;
        animation-duration: 2000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }

      @keyframes settings {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

      img.not-rotation {
        animation-name: notification;
        animation-duration: 1500ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }

      @keyframes notification {
        0% {
          transform: rotate(-25deg);
        }
        10% {
          transform: rotate(25deg);
        }
        20% {
          transform: rotate(-25deg);
        }
        30% {
          transform: rotate(25deg);
        }
        40% {
          transform: rotate(-25deg);
        }
        50% {
          transform: rotate(25deg);
        }
        60% {
          transform: rotate(-25deg);
        }
        70% {
          transform: rotate(25deg);
        }
        80% {
          transform: rotate(-25deg);
        }
        90% {
          transform: rotate(25deg);
        }
        100% {
          transform: rotate(0deg);
        }
      }
    }
  }

  .header {
    font-size: 20px;
    font-weight: bold;
    color: $bold_text;
    margin-left: 20px;
    margin-top: 20px;
  }

  main {
    width: 100%;
    height: 770px;
    display: flex;

    h3 {
      color: $bold_text;
    }

    .main-left {
      width: 300px;
      height: 800px;
      margin-left: 20px;

      .welcome {
        width: 300px;
        height: 290px;
        background-color: #ffffff;
        border-radius:7px;

        .bg-top {
          width: 300px;
          height: 130px;
          background-color: #d4daf9;
          background-size: 100px;
          padding-left: 20px;
          padding-top: 10px;
          border-top-left-radius:7px;
          border-top-right-radius:7px;
          background-image: url("https://images.vexels.com/media/users/3/205347/isolated/preview/460e5d1b40a661cefd473b49379838f7-girl-with-notebook-character-by-vexels.png");
          background-repeat: no-repeat;
          background-size: 100px 100px;
          background-position: 200px 40px;
          

          h5,
          p {
            color: $btn_color;
          }
        }

        .welcome-inline {
            display:flex;


          .welcome-left {
            img {
              width: 70px;
              height: 70px;
              margin-top: -27px;
              margin-left: 20px;
            }

            h5 {
              color: $bold_text;
              font-size: $font;
              padding-left: 20px;
              margin-top:20px;
            }
            p {
              font-size: $font;
              color: $text_color;
              padding-left: 20px;
            }
          }

          .welcome-right-1 {
              margin-left:20px;
              margin-top:20px;

              p {
                  color:$text_color;
              }
          }
          .welcome-right-2 {
              margin-left:20px;
              margin-top:20px;
              p {
                color:$text_color;
            }
          }
        }

        .button {
            @include button;
            border-radius:4px;
            margin-left:130px;
            margin-top:-37px;

            a{
                text-decoration:none;
                color:white;
            }

            &:hover {
                background-color:$btn_hover;
                cursor:pointer;
            }
        }

      }
      .earning {
        width: 300px;
        height: 350px;
        margin-top: 20px;
        position:relative;
        background-color:#ffffff;
        border-radius:7px;

        .earning-left {
            width:250px;
            height:auto;
            padding-left: 20px;
            padding-top: 10px;

            p {
                color:$text_color;
                margin-top:30px;
            }
            .green span {
                color:green;
            }

            .button {
                @include button;
                margin-top:30px;

                a {
                    text-decoration:none;
                    color:white;
                }

                &:hover {
                    background-color:$btn_hover;
                    cursor:pointer;
                }
            }
            .m-top {
                margin-top:0px;
            }
        }

        .stat {
            position:absolute;
            text-align:center;
            top:17%;
            left:30%;

            p {
                margin-top:-40px;
            }
        }
      }
    }

    .main-right {
      width: 100%;
      height: auto;

      .main-right-top {
        display: flex;
        width: 97%;
        margin-left: 3%;
        justify-content: space-between;

        .sizee {
          width: 30%;
          height: 110px;
          display:flex;
          background-color:#ffffff;
          position:relative;
          border-radius:7px;
          margin-right:20px;

          .sizee-text {
            padding:20px;
  
            p {
              color:$text_color;
              font-size:$font;
            }
            h3 {
              color:$bold_text;
            }

             .txt-long {
              width:100%;
            }
          }

          .sizee-logo {
            background-color:$btn_color;
            width:50px;
            height:50px;
            border-radius:50%;
            padding:10px;
            position:absolute;
            left:61%;
            top:30%;

            img {
              width:30px;
              height:30px;
            }

            &.logo-margin {
              margin-right:0px;
              position:absolute;
              top:37%;
              left:64%;
            }
          }
        }

        

      }

      .diagram {
        width: 94.7%;
        height: 570px;
        background-color:#444;
        margin-top: 20px;
        margin-left: 3%;
        border-radius:7px;
        
      }
    }
  }

  .cards{
    width:100%;
    height:auto;
    display:flex;
    justify-content:space-between;
    

    .card-1 {
      width:31%;
      height:500px;
      text-align:center;
      padding-top:30px;
      margin-left:20px;
      background-color:#ffffff;
      position:relative;
      border-radius:7px;

      .card-1-header {
        position:absolute;
        margin-top:0px;
        left:10%;
      }

      .header-logo {
        width:50px;
        height:50px;
        margin-top:50px;
      }

      span {
        color:$text_color;
      }
      a{
        text-decoration:none;
        color:$btn_color;
      }
      a:hover{
        text-decoration:none;
        color:$btn_hover;
      }
      
      * {
        margin-top:17px;
      }

      .logos-flex{ 
        width:100%;
        height:190px;
        margin-top:-30px;
       
        display:flex;
        padding-top:50px;
        justify-content:center;
        gap:20px;
      }
      .logo {
        width:auto;
        height:auto;
        text-align:center;

        img {
          width:50px;
          height:50px;
          margin-top:-30px;
        }
        h5 {
          color:$bold_text;
        }
        p {
          color:$text_color;
        }
      }
      

      
    }
    
    .card-2 {
      width:31%;
      height:870px;
      background-color:#ffffff;
      border-radius:7px;
      
      h5 {
        margin-top:30px;
        margin-left:30px;
      }

      .columns {
        width:90%;
        height:700px;
        margin:auto;
        border-left:2px dashed rgb(201, 201, 201);
      }

      .column {
        display:flex;
        width:100%;
  
        gap:20px;
        margin-top:50px;
        
        p {
          color:$text_color;
        }

        img {
          width:20px;
          height:20px;
        }

        .p-bold {
          font-weight:bold; 
          font-size:19px;
          margin-top:-7px;

          span {
            color:$btn_color;
            margin-left:10px;
          }
        }

        .animation-img {
          animation-name: image-animation;
          animation-duration:1.5s;
          animation-iteration-count: infinite;
        }

        @keyframes image-animation {
          0%{
            opacity:100%;
          };
          50%{
            transform: translateX(30px);
            opacity:0%;
          };
          100%{
            transform: translateX(0px);
            opacity:100%;
          };
          
        }
      }

      .button {
        @include button;
        margin:auto;
        &.button:hover{
          background-color:$btn_hover;
          cursor:pointer;
        }

        a {
          text-decoration:none;
          color:white;
        }
      }
      
    }

    
    .card-3 {
      width:31%;
      height:570px;
      padding-top:20px;
      margin-right:20px;
      text-align:center;
      background-color:#ffffff;
      border-radius:7px;

      .card-3-icon {
        width:100px;
        height:auto;
        margin:auto;
        margin-top:50px;

        img {
          width:100px;
          height:100px;
          margin:auto;
        }
      }
      
      h5 {
        margin-top:20px;
      }
      
      .line {
        width:270px;
        height:70px;
        display:flex;
        margin-left:50px;
        border-top:1px solid gray;
        padding-top:10px;


        h5 {
          margin-top:0px;
          margin-left:20px;
        }

        .stat-line-1 {
          width:70px;
          height:7px;
          background-color:$btn_color;
          border-radius:120px;
          margin-top:8px;
          margin-left:20px;
        }
        .stat-line-2 {
          width:57px;
          height:7px;
          background-color:#34c38f;
          border-radius:120px;
          margin-top:8px;
          margin-left:20px;
        }
        .stat-line-3 {
          width:47px;
          height:7px;
          background-color:#f1b44c;
          border-radius:120px;
          margin-top:8px;
          margin-left:20px;
        }
      }
    }
  }

}
